.card {
    position: relative;
    overflow: hidden;
}

.card-img-overlay {
    background: rgba(0, 0, 0, 0.2);
    color: white;
}

.card-img {
    height: 100%;
    object-fit: cover;
}

.category-link {
    color: inherit;
    text-decoration: none;
}

.spinner-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.rating label {
    cursor: pointer;
}

.sort label {
    cursor: pointer;
}

.category-checkbox label {
    cursor: pointer;
}

.range-bar input {
    cursor: pointer;
}